.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    width: 100%;
    height: 12.5rem;
    background-color: var(--gray-700);
}

.appName {
    background: linear-gradient(to right, var(--blue) 45%, var(--purple-dark) 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 900;
 }